{
  "openapi": "3.1.0",
  "info": {
    "title": "Conjoin API",
    "version": "1.0.0",
    "description": "The Conjoin cloud services API."
  },
  "servers": [
    {
      "url": "https://api.conjoin.cloud",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "AI - Inference",
      "description": "Multi-provider AI inference with OpenAI-compatible chat completions, multi-model, and best-of-N modes"
    },
    {
      "name": "AI - Model",
      "description": "AI model registry with capabilities and pricing"
    },
    {
      "name": "AI - Policy",
      "description": "AI content policy rules for PII redaction, topic blocking, and content inspection"
    },
    {
      "name": "AI - Context",
      "description": "AI context indexing and retrieval with vector search, full-text search, and agentic access"
    },
    {
      "name": "AI - BYOK",
      "description": "Bring Your Own Key (BYOK) API key configuration for customer-managed provider access"
    },
    {
      "name": "AI - Usage",
      "description": "AI usage records and cost tracking"
    },
    {
      "name": "Relay - Broadcast",
      "description": "Real-time broadcast channels for pub/sub messaging"
    },
    {
      "name": "Relay - Events",
      "description": "Event channels for reliable event streaming with subscriptions"
    },
    {
      "name": "Relay - Queues",
      "description": "Task queues for asynchronous job processing"
    },
    {
      "name": "Relay - Pipelines",
      "description": "Pipeline orchestration for multi-step workflows"
    },
    {
      "name": "Relay - Scheduler",
      "description": "Scheduled task execution via cron or one-time triggers"
    },
    {
      "name": "Relay - Search",
      "description": "Full-text search indexing and queries"
    },
    {
      "name": "Relay - Memorystore",
      "description": "Managed in-memory data store clusters"
    },
    {
      "name": "Relay - Settings",
      "description": "Relay project settings, product defaults, and signing secret management"
    },
    {
      "name": "Cloud - Account",
      "description": "Cloud account management"
    },
    {
      "name": "Cloud - API Key",
      "description": "API key lifecycle management"
    },
    {
      "name": "Cloud - Audit",
      "description": "Audit log access and statistics"
    },
    {
      "name": "Cloud - Branding",
      "description": "Project branding and organization branding overrides"
    },
    {
      "name": "Cloud - Organization",
      "description": "Cloud organization management"
    },
    {
      "name": "Cloud - Plan",
      "description": "Cloud plan information and account plan details"
    },
    {
      "name": "Cloud - Project",
      "description": "Project management within a cloud account"
    },
    {
      "name": "Cloud - Publishable Key",
      "description": "Publishable key management and domain verification"
    },
    {
      "name": "Cloud - Role",
      "description": "Custom role management"
    },
    {
      "name": "Cloud - SKU Catalog",
      "description": "SKU catalog browsing"
    },
    {
      "name": "Cloud - SKU Quota",
      "description": "SKU quota and usage limits"
    },
    {
      "name": "Cloud - Spend Control",
      "description": "Account spend controls, overage budgets, and usage limits"
    },
    {
      "name": "Cloud - Webhook",
      "description": "Cloud webhook registration and management"
    },
    {
      "name": "Cloud - Zone",
      "description": "Custom domain zone management and DNS verification"
    },
    {
      "name": "Storage - Container",
      "description": "Storage container lifecycle and configuration"
    },
    {
      "name": "Storage - Object",
      "description": "Storage object uploads, downloads, and management"
    },
    {
      "name": "Storage - Object ACL",
      "description": "Storage object access control list management"
    },
    {
      "name": "Billing - Charge",
      "description": "Charge records and history"
    },
    {
      "name": "Billing - Coupon",
      "description": "Coupon creation and management"
    },
    {
      "name": "Billing - Credit Note",
      "description": "Credit note issuance and management"
    },
    {
      "name": "Billing - Credit Wallet",
      "description": "Prepaid credit wallet management"
    },
    {
      "name": "Billing - Customer",
      "description": "Billing customer profiles"
    },
    {
      "name": "Billing - Discount",
      "description": "Discount application and management"
    },
    {
      "name": "Billing - Entitlement Feature",
      "description": "Feature entitlement definitions"
    },
    {
      "name": "Billing - Entitlement Override",
      "description": "Per-customer entitlement overrides"
    },
    {
      "name": "Billing - Entity",
      "description": "Billing entity onboarding and management"
    },
    {
      "name": "Billing - Feature access",
      "description": "Entitlement check and feature usage tracking"
    },
    {
      "name": "Billing - Invoice",
      "description": "Invoice lifecycle from draft to paid"
    },
    {
      "name": "Billing - Payment Intent",
      "description": "Payment intent creation and verification"
    },
    {
      "name": "Billing - Payment Method",
      "description": "Stored payment method management"
    },
    {
      "name": "Billing - Price",
      "description": "Pricing configuration for products"
    },
    {
      "name": "Billing - Price Bundle",
      "description": "Price bundle packaging and activation"
    },
    {
      "name": "Billing - Product",
      "description": "Product catalog management"
    },
    {
      "name": "Billing - Receipt",
      "description": "Payment receipt retrieval"
    },
    {
      "name": "Billing - Refund",
      "description": "Payment refund processing"
    },
    {
      "name": "Billing - Settings",
      "description": "Billing configuration and preferences"
    },
    {
      "name": "Billing - Subscription",
      "description": "Subscription lifecycle and usage tracking"
    },
    {
      "name": "Billing - Subscription Schedule",
      "description": "Future-dated phased plan-change schedules for subscriptions"
    },
    {
      "name": "Billing - Tax Jurisdiction",
      "description": "Tax jurisdiction lookup and rate queries"
    },
    {
      "name": "Messaging - SMS",
      "description": "SMS message sending and management"
    },
    {
      "name": "Messaging - SMS Brand",
      "description": "SMS brand registration for carrier compliance"
    },
    {
      "name": "Messaging - SMS Campaign",
      "description": "SMS campaign management for bulk messaging"
    },
    {
      "name": "Messaging - Channel Analytics",
      "description": "SMS delivery and engagement analytics"
    },
    {
      "name": "Messaging - SMS Recipient",
      "description": "SMS message recipient details"
    },
    {
      "name": "Messaging - Email",
      "description": "Email message sending and management"
    },
    {
      "name": "Messaging - Email Recipient",
      "description": "Email message recipient details"
    },
    {
      "name": "Messaging - Email Sender",
      "description": "Email sender identity management"
    },
    {
      "name": "Messaging - Email Sender Pool",
      "description": "Email sender pool management"
    },
    {
      "name": "Messaging - SMS Sender",
      "description": "SMS sender identity management"
    },
    {
      "name": "Messaging - SMS Sender Pool",
      "description": "SMS sender pool management"
    },
    {
      "name": "Messaging - Multisend",
      "description": "Multi-channel message dispatch"
    },
    {
      "name": "Messaging - Profile",
      "description": "Messaging profile configuration and channels"
    },
    {
      "name": "Messaging - Contact",
      "description": "Contact management for messaging"
    },
    {
      "name": "Messaging - Contact Properties",
      "description": "Contact property management for messaging"
    },
    {
      "name": "Messaging - Template",
      "description": "Message template creation and management"
    },
    {
      "name": "Messaging - Conversation",
      "description": "Threaded conversation management"
    },
    {
      "name": "Messaging - Segment",
      "description": "Grouped recipient management for message sending"
    },
    {
      "name": "Messaging - Verification",
      "description": "OTP and verification code management"
    },
    {
      "name": "Messaging - Phone Number",
      "description": "Phone number procurement and management"
    },
    {
      "name": "Auth - App",
      "description": "Authentication application configuration"
    },
    {
      "name": "Auth - Account",
      "description": "User account management and lifecycle"
    },
    {
      "name": "Auth - Account Recovery",
      "description": "Account recovery flows"
    },
    {
      "name": "Auth - Authorization",
      "description": "Action authorization and role checking"
    },
    {
      "name": "Auth - Certificate",
      "description": "Signing certificate rotation and management"
    },
    {
      "name": "Auth - Client",
      "description": "OAuth/OIDC client management"
    },
    {
      "name": "Auth - Connection",
      "description": "First-party identity connection configuration"
    },
    {
      "name": "Auth - Connection Enterprise",
      "description": "Enterprise SSO connection management"
    },
    {
      "name": "Auth - Credential",
      "description": "Credential enrollment, rotation, and verification"
    },
    {
      "name": "Auth - Deprovisioning",
      "description": "Account deprovisioning and data removal"
    },
    {
      "name": "Auth - Flow",
      "description": "Sign-up, sign-in, and password reset flows"
    },
    {
      "name": "Auth - Guard",
      "description": "Threat detection events and guard settings"
    },
    {
      "name": "Auth - Identity",
      "description": "Identity linking and account discovery"
    },
    {
      "name": "Auth - Organization",
      "description": "Auth organization management"
    },
    {
      "name": "Auth - Organization Domain",
      "description": "Organization domain ownership claims"
    },
    {
      "name": "Auth - SSO Portal",
      "description": "Self-serve SSO setup portal tickets"
    },
    {
      "name": "Auth - Organization Membership",
      "description": "Organization member management"
    },
    {
      "name": "Auth - Organization Invitation",
      "description": "Organization invitation lifecycle"
    },
    {
      "name": "Auth - Organization Group",
      "description": "Organization group and member management"
    },
    {
      "name": "Auth - Organization Permission",
      "description": "Organization-level permission definitions"
    },
    {
      "name": "Auth - Organization Role",
      "description": "Organization-level role definitions"
    },
    {
      "name": "Auth - Organization Role Permission",
      "description": "Role-to-permission assignment"
    },
    {
      "name": "Auth - Organization Policy",
      "description": "Organization access policies"
    },
    {
      "name": "Auth - Organization Resource Grant",
      "description": "Resource-level permission grants"
    },
    {
      "name": "Auth - Organization Role Assignment Log",
      "description": "Role assignment audit trail"
    },
    {
      "name": "Auth - Policy",
      "description": "Access control policy management"
    },
    {
      "name": "Auth - Resource Grant",
      "description": "Resource-level permission grants"
    },
    {
      "name": "Auth - Role Assignment Log",
      "description": "Role assignment audit trail"
    },
    {
      "name": "Auth - Passkey",
      "description": "WebAuthn passkey management"
    },
    {
      "name": "Auth - Session",
      "description": "Session lifecycle and analytics"
    },
    {
      "name": "Auth - SLO",
      "description": "Single logout for OIDC and SAML"
    },
    {
      "name": "Auth - Step-up",
      "description": "Step-up authentication challenges"
    },
    {
      "name": "Auth - Trusted Device",
      "description": "Trusted device management"
    },
    {
      "name": "Auth - SCIM",
      "description": "SCIM 2.0 directory provisioning"
    },
    {
      "name": "Auth - SCIM Management",
      "description": "SCIM directory connection configuration, reconciliation, and role mapping for organization admins"
    }
  ],
  "paths": {
    "/v1/auth/client/batch/accounts/lookup": {
      "post": {
        "operationId": "batchLookupAccounts",
        "summary": "Look up accounts by identifier in batch",
        "tags": [
          "Auth - Account"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "string"
                          },
                          "name": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "image_url": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "account_id",
                          "name",
                          "image_url"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 36,
                      "pattern": "^authact_[a-zA-Z0-9_-]+$",
                      "example": "string"
                    },
                    "minLength": 1,
                    "maxItems": 50
                  }
                },
                "required": [
                  "account_ids"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/auth/client/.well-known/openid-configuration": {
      "get": {
        "operationId": "getAuthOidcDiscovery",
        "summary": "Get the OpenID Connect discovery document for the resolved host",
        "tags": [
          "Auth - Client"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "issuer": {
                          "type": "string"
                        },
                        "authorization_endpoint": {
                          "type": "string"
                        },
                        "token_endpoint": {
                          "type": "string"
                        },
                        "userinfo_endpoint": {
                          "type": "string"
                        },
                        "end_session_endpoint": {
                          "type": "string"
                        },
                        "jwks_uri": {
                          "type": "string"
                        },
                        "response_types_supported": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "subject_types_supported": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "id_token_signing_alg_values_supported": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "scopes_supported": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "claims_supported": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "issuer",
                        "authorization_endpoint",
                        "token_endpoint",
                        "userinfo_endpoint",
                        "end_session_endpoint",
                        "jwks_uri",
                        "response_types_supported",
                        "subject_types_supported",
                        "id_token_signing_alg_values_supported",
                        "scopes_supported",
                        "claims_supported"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ]
      }
    },
    "/v1/auth/client/handshake": {
      "post": {
        "operationId": "processAuthHandshake",
        "summary": "Exchange the client handle for a session token",
        "tags": [
          "Auth - Client"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "session_id": {
                          "type": "string"
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "iat": {
                          "type": "number"
                        },
                        "exp": {
                          "type": "number"
                        },
                        "access_token_ttl_seconds": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "session_id",
                        "account_id",
                        "iat",
                        "exp",
                        "access_token_ttl_seconds"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ]
      }
    },
    "/v1/auth/client/logout": {
      "post": {
        "operationId": "processAuthLogout",
        "summary": "Revoke the active session for the client handle",
        "tags": [
          "Auth - Client"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ]
      }
    },
    "/v1/auth/client/flow/signup/start": {
      "post": {
        "operationId": "startAuthSignup",
        "summary": "Start the signup flow",
        "tags": [
          "Auth - Flow"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "mfa_required",
                            "verification_required",
                            "confirmation_required"
                          ]
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "example": "string"
                        },
                        "verification_method": {
                          "type": "string"
                        },
                        "redirect_url": {
                          "type": "string"
                        },
                        "mfa": {
                          "type": "object",
                          "properties": {
                            "method": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "method"
                          ]
                        },
                        "verification": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "trusted_device_token": {
                          "type": "string"
                        },
                        "step_up": {
                          "type": "object",
                          "properties": {
                            "available_methods": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "passkey",
                                  "totp",
                                  "password"
                                ]
                              }
                            },
                            "challenge_id": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096,
                              "example": "string"
                            }
                          },
                          "required": [
                            "available_methods",
                            "challenge_id"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254,
                    "minLength": 1,
                    "example": "user@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 1,
                    "example": "string"
                  },
                  "provider_key": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "apple",
                          "atlassian",
                          "discord",
                          "dropbox",
                          "facebook",
                          "figma",
                          "github",
                          "gitlab",
                          "google",
                          "huggingface",
                          "jumpcloud",
                          "linear",
                          "linkedin",
                          "microsoft",
                          "notion",
                          "reddit",
                          "slack",
                          "spotify",
                          "tiktok",
                          "twitch",
                          "workos",
                          "x",
                          "yahoo"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "auth0",
                          "okta",
                          "onelogin",
                          "pingidentity",
                          "cyberark",
                          "keycloak",
                          "fusionauth",
                          "casdoor",
                          "gluu"
                        ]
                      }
                    ]
                  },
                  "verification_option": {
                    "type": "string",
                    "enum": [
                      "email_verification_code",
                      "magic_link",
                      "phone_verification_code",
                      "oauth_token"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 256,
                    "example": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/client/flow/signup/complete": {
      "post": {
        "operationId": "completeAuthSignup",
        "summary": "Complete the signup flow",
        "tags": [
          "Auth - Flow"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "mfa_required",
                            "verification_required",
                            "confirmation_required"
                          ]
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "example": "string"
                        },
                        "verification_method": {
                          "type": "string"
                        },
                        "redirect_url": {
                          "type": "string"
                        },
                        "mfa": {
                          "type": "object",
                          "properties": {
                            "method": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "method"
                          ]
                        },
                        "verification": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "trusted_device_token": {
                          "type": "string"
                        },
                        "step_up": {
                          "type": "object",
                          "properties": {
                            "available_methods": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "passkey",
                                  "totp",
                                  "password"
                                ]
                              }
                            },
                            "challenge_id": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096,
                              "example": "string"
                            }
                          },
                          "required": [
                            "available_methods",
                            "challenge_id"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verification_result": {
                    "type": "object",
                    "properties": {
                      "pin_code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 8,
                        "example": "string"
                      },
                      "magic_link_token": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 4096,
                        "example": "string"
                      },
                      "oauth_token": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 4096,
                        "example": "string"
                      }
                    }
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 256,
                    "example": "string"
                  }
                },
                "required": [
                  "verification_result"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/auth/client/flow/signup/confirm-link": {
      "post": {
        "operationId": "confirmLinkAuthSignup",
        "summary": "Confirm and link a signup onto a matched account",
        "tags": [
          "Auth - Flow"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "mfa_required",
                            "verification_required",
                            "confirmation_required"
                          ]
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "example": "string"
                        },
                        "verification_method": {
                          "type": "string"
                        },
                        "redirect_url": {
                          "type": "string"
                        },
                        "mfa": {
                          "type": "object",
                          "properties": {
                            "method": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "method"
                          ]
                        },
                        "verification": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "trusted_device_token": {
                          "type": "string"
                        },
                        "step_up": {
                          "type": "object",
                          "properties": {
                            "available_methods": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "passkey",
                                  "totp",
                                  "password"
                                ]
                              }
                            },
                            "challenge_id": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096,
                              "example": "string"
                            }
                          },
                          "required": [
                            "available_methods",
                            "challenge_id"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm": {
                    "const": true
                  },
                  "step_up": {
                    "type": "object",
                    "properties": {
                      "challenge_id": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 4096,
                        "example": "string"
                      },
                      "method": {
                        "type": "string",
                        "enum": [
                          "passkey",
                          "totp",
                          "password"
                        ]
                      },
                      "code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 8,
                        "example": "string"
                      },
                      "password": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 256,
                        "example": "string"
                      },
                      "assertion_response": {}
                    },
                    "required": [
                      "challenge_id",
                      "method"
                    ]
                  }
                },
                "required": [
                  "confirm"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/auth/client/flow/signin/start": {
      "post": {
        "operationId": "startAuthSignin",
        "summary": "Start the signin flow",
        "tags": [
          "Auth - Flow"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "mfa_required",
                            "verification_required",
                            "confirmation_required"
                          ]
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "example": "string"
                        },
                        "verification_method": {
                          "type": "string"
                        },
                        "redirect_url": {
                          "type": "string"
                        },
                        "mfa": {
                          "type": "object",
                          "properties": {
                            "method": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "method"
                          ]
                        },
                        "verification": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "trusted_device_token": {
                          "type": "string"
                        },
                        "step_up": {
                          "type": "object",
                          "properties": {
                            "available_methods": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "passkey",
                                  "totp",
                                  "password"
                                ]
                              }
                            },
                            "challenge_id": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096,
                              "example": "string"
                            }
                          },
                          "required": [
                            "available_methods",
                            "challenge_id"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254,
                    "minLength": 1,
                    "example": "user@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 1,
                    "example": "string"
                  },
                  "provider_key": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "apple",
                          "atlassian",
                          "discord",
                          "dropbox",
                          "facebook",
                          "figma",
                          "github",
                          "gitlab",
                          "google",
                          "huggingface",
                          "jumpcloud",
                          "linear",
                          "linkedin",
                          "microsoft",
                          "notion",
                          "reddit",
                          "slack",
                          "spotify",
                          "tiktok",
                          "twitch",
                          "workos",
                          "x",
                          "yahoo"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "auth0",
                          "okta",
                          "onelogin",
                          "pingidentity",
                          "cyberark",
                          "keycloak",
                          "fusionauth",
                          "casdoor",
                          "gluu"
                        ]
                      }
                    ]
                  },
                  "verification_option": {
                    "type": "string",
                    "enum": [
                      "email_verification_code",
                      "magic_link",
                      "phone_verification_code",
                      "oauth_token"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "example": "string"
                  },
                  "trusted_device_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "string"
                  },
                  "remember_device": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/client/flow/signin/complete": {
      "post": {
        "operationId": "completeAuthSignin",
        "summary": "Complete the signin flow",
        "tags": [
          "Auth - Flow"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "mfa_required",
                            "verification_required",
                            "confirmation_required"
                          ]
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "example": "string"
                        },
                        "verification_method": {
                          "type": "string"
                        },
                        "redirect_url": {
                          "type": "string"
                        },
                        "mfa": {
                          "type": "object",
                          "properties": {
                            "method": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "method"
                          ]
                        },
                        "verification": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "trusted_device_token": {
                          "type": "string"
                        },
                        "step_up": {
                          "type": "object",
                          "properties": {
                            "available_methods": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "passkey",
                                  "totp",
                                  "password"
                                ]
                              }
                            },
                            "challenge_id": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096,
                              "example": "string"
                            }
                          },
                          "required": [
                            "available_methods",
                            "challenge_id"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verification_result": {
                    "type": "object",
                    "properties": {
                      "pin_code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 8,
                        "example": "string"
                      },
                      "magic_link_token": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 4096,
                        "example": "string"
                      },
                      "oauth_token": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 4096,
                        "example": "string"
                      }
                    }
                  },
                  "mfa": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "method": {
                            "const": "totp"
                          },
                          "totp_code": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 8,
                            "example": "string"
                          }
                        },
                        "required": [
                          "method",
                          "totp_code"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "method": {
                            "const": "phone_verification_code"
                          },
                          "phone_code": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 10,
                            "example": "string"
                          }
                        },
                        "required": [
                          "method",
                          "phone_code"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "method": {
                            "const": "passkey"
                          },
                          "assertion_response": {},
                          "credential_id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "example": "string"
                          }
                        },
                        "required": [
                          "method",
                          "assertion_response"
                        ]
                      }
                    ]
                  },
                  "trusted_device_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "string"
                  },
                  "remember_device": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "verification_result"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/auth/client/flow/password/reset/start": {
      "post": {
        "operationId": "startAuthPasswordReset",
        "summary": "Start the password reset flow",
        "tags": [
          "Auth - Flow"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "mfa_required",
                            "verification_required",
                            "confirmation_required"
                          ]
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "example": "string"
                        },
                        "verification_method": {
                          "type": "string"
                        },
                        "redirect_url": {
                          "type": "string"
                        },
                        "mfa": {
                          "type": "object",
                          "properties": {
                            "method": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "method"
                          ]
                        },
                        "verification": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "trusted_device_token": {
                          "type": "string"
                        },
                        "step_up": {
                          "type": "object",
                          "properties": {
                            "available_methods": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "passkey",
                                  "totp",
                                  "password"
                                ]
                              }
                            },
                            "challenge_id": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096,
                              "example": "string"
                            }
                          },
                          "required": [
                            "available_methods",
                            "challenge_id"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254,
                    "minLength": 1,
                    "example": "user@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 1,
                    "example": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/auth/client/flow/password/reset/complete": {
      "post": {
        "operationId": "completeAuthPasswordReset",
        "summary": "Complete the password reset flow",
        "tags": [
          "Auth - Flow"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "mfa_required",
                            "verification_required",
                            "confirmation_required"
                          ]
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "example": "string"
                        },
                        "verification_method": {
                          "type": "string"
                        },
                        "redirect_url": {
                          "type": "string"
                        },
                        "mfa": {
                          "type": "object",
                          "properties": {
                            "method": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "method"
                          ]
                        },
                        "verification": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "trusted_device_token": {
                          "type": "string"
                        },
                        "step_up": {
                          "type": "object",
                          "properties": {
                            "available_methods": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "passkey",
                                  "totp",
                                  "password"
                                ]
                              }
                            },
                            "challenge_id": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096,
                              "example": "string"
                            }
                          },
                          "required": [
                            "available_methods",
                            "challenge_id"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reset_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096,
                    "example": "string"
                  },
                  "new_password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 256,
                    "example": "string"
                  }
                },
                "required": [
                  "reset_token",
                  "new_password"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/auth/client/invitation/{project_id}/{app_id}/invitation/accept": {
      "post": {
        "operationId": "acceptOrganizationInvitation",
        "summary": "Accept an organization invitation",
        "tags": [
          "Auth - Organization Invitation"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "next_action": {
                          "type": "string",
                          "enum": [
                            "attach_membership",
                            "require_account_auth"
                          ]
                        },
                        "invitation": {
                          "type": "object",
                          "properties": {
                            "invitation_id": {
                              "type": "string"
                            },
                            "organization_id": {
                              "type": "string"
                            },
                            "app_id": {
                              "type": "string"
                            },
                            "conjoin_account_id": {
                              "type": "string"
                            },
                            "conjoin_project_id": {
                              "type": "string"
                            },
                            "live_mode": {
                              "type": "boolean"
                            },
                            "email": {
                              "type": "string"
                            },
                            "name": {
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "roles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "expires_at": {
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "used_at": {
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "status": {
                              "type": "string"
                            },
                            "invited_by_account_id": {
                              "type": "string"
                            },
                            "metadata": {
                              "type": "object",
                              "additionalProperties": {}
                            },
                            "date_created": {
                              "type": "string"
                            },
                            "date_updated": {
                              "type": "string"
                            },
                            "date_deleted": {
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "organization": {
                              "type": "object",
                              "properties": {
                                "organization_id": {
                                  "type": "string"
                                },
                                "conjoin_account_id": {
                                  "type": "string"
                                },
                                "conjoin_project_id": {
                                  "type": "string"
                                },
                                "app_id": {
                                  "type": "string"
                                },
                                "live_mode": {
                                  "type": "boolean"
                                },
                                "reference_id": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "image_url": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "owner_account_id": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "total_members": {
                                  "type": "number"
                                },
                                "settings": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "metadata": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "oneOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "boolean"
                                      }
                                    ]
                                  },
                                  "maxProperties": 50,
                                  "description": "Custom key-value metadata (max 50 keys)"
                                },
                                "date_created": {
                                  "type": "string"
                                },
                                "date_updated": {
                                  "type": "string"
                                },
                                "date_deleted": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "organization_id",
                                "conjoin_account_id",
                                "conjoin_project_id",
                                "app_id",
                                "live_mode",
                                "name",
                                "slug",
                                "date_created",
                                "date_updated"
                              ]
                            }
                          },
                          "required": [
                            "invitation_id",
                            "organization_id",
                            "app_id",
                            "conjoin_account_id",
                            "conjoin_project_id",
                            "live_mode",
                            "email",
                            "status",
                            "invited_by_account_id",
                            "date_created",
                            "date_updated",
                            "organization"
                          ]
                        }
                      },
                      "required": [
                        "next_action",
                        "invitation"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or bad request",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiClientErrorResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiServerErrorResponseMeta"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ConjoinRequestId"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096,
                    "example": "string"
                  },
                  "account_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 48,
                    "example": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/auth/portal/context": {
      "get": {
        "operationId": "readSsoPortalContext",
        "summary": "Read the portal context for the active setup ticket",
        "tags": [
          "Auth - SSO Portal"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Conjoin-Request-Id": {
                "$ref": "#/components/headers/ConjoinRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ApiSuccessResponseMeta"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "organization_id": {
                          "type": "string"
                        },
                        "allowed_providers": {
                          "type": "array",
[...]
